<m2-layout-header>
  <m2-layout-header-title>地图</m2-layout-header-title>
</m2-layout-header>

<ion-content>
<!--  <ion-button color="primary" (click)="getImgs()">Primary1231231</ion-button>-->
<!--  <ion-button color="primary" (click)="testNav()">测试导航test</ion-button>-->
<!--  <ion-button routerLink="/tabs/test2" id="goto-test2-page1">测试导航Test2</ion-button>-->
<!--  <ion-button routerLink="/tabs/test2/test21" id="goto-test2-page2">测试导航Test21</ion-button>-->
<!--  <ion-button routerLink="/tabs/test2/test211" id="goto-test2-page21">测试导航Test211</ion-button>-->
<!--  <ion-button routerLink="/tabs/test2/test22" id="goto-test2-page22">测试导航Test22</ion-button>-->
<!--  <ion-button routerLink="/tabs/test2/test22/test221" id="goto-test2-page221">测试导航Test221</ion-button>-->
  <div style="width: 100%; height:100%" id="map_container" #mapCanvas></div>

</ion-content>
