<ion-list>
  <ion-item routerLink="/m2/test1">
    <ion-label>
      /m2/test1
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test11">
    <ion-label>
      /m2/test1/test11
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test11/test111">
    <ion-label>
      /m2/test1/test11/test111
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test11/test112">
    <ion-label>
      /m2/test1/test11/test112测试cordova插件
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test12">
    <ion-label>
      /m2/test1/test12
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test12/test121">
    <ion-label>
      /m2/test1/test12/test121获取POI
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test12/test122">
    <ion-label>
      /m2/test1/test12/test122测试分享
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test12/test123">
    <ion-label>
      /m2/test1/test12/test123打开地图
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test1/test13tab2">
    <ion-label>
      /m2/test1/test13tab2
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test2">
    <ion-label>
      /m2/test2
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test2/test21">
    <ion-label>
      /m2/test2/test21
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test2/test21/test211">
    <ion-label>
      /m2/test2/test21/test211
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test2/test22">
    <ion-label>
      /m2/test2/test22
    </ion-label>
  </ion-item>
  <ion-item routerLink="/m2/test2/test22/test221">
    <ion-label>
      /m2/test2/test22/test221
    </ion-label>
  </ion-item>
</ion-list>
